<h1>状態一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td style="color: <%= status.color %>"><%= status.name %></td>
        <td>
        	<%= link_to '詳細', status, class: :forecast_control %>
        	<%= link_to '編集', edit_status_path(status), class: :forecasst_control %>
        	<%= link_to '削除', status, method: :delete, data: { confirm: '削除しますか?' }, class: :forecast_control %>
       	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_status_path %>
