<h1>予算一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>予算</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td>
        	<%= link_to '詳細', budget, class: :forecast_contorl %>
        	<%= link_to '編集', edit_budget_path(budget), class: :forecast_control %>
        	<%= link_to '削除', budget, method: :delete, data: { confirm: '削除しますか?' }, class: :forecast_control %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_budget_path %>
