<h1>客層一覧</h1>

<table>
  <thead>
    <tr>
      <th>客層</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @segments.each do |segment| %>
      <tr>
        <td><%= segment.name %></td>
        <td><%= link_to '詳細', segment %></td>
        <td><%= link_to '編集', edit_segment_path(segment) %></td>
        <td><%= link_to '削除', segment, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_segment_path %>
