<h1>フォーキャスト一覧</h1>

<table>
  <thead>
    <tr>
      <th>SC</th>
      <th>客層</th>
      <th>状態</th>
      <th>地域</th>
      <th>顧客</th>
      <th>部署</th>
      <th>氏名</th>
      <th>機種</th>
      <th>金額</th>
      <th>予算</th>
      <th>確度</th>
      <th>期待値</th>
      <th>申請時期</th>
      <th>確定時期</th>
      <th>発注時期</th>
      <th>代理店</th>
      <th>状況</th>
      <th>担当</th>
      <th>表示</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_forecasts.each do |sales_forecast| %>
      <tr>
        <td><%= get_attribute(sales_forecast.service_center, :name) %></td>
        <td><%= get_attribute(sales_forecast.segment, :name) %></td>
        <td><%= get_attribute(sales_forecast.status, :name) %></td>
        <td><%= get_attribute(sales_forecast.area, :name) %></td>
        <td><%= sales_forecast.company %></td>
        <td><%= sales_forecast.division %></td>
        <td><%= sales_forecast.customer_name %></td>
        <td><%= sales_forecast.instrument %></td>
        <td><%= number_with_delimiter(sales_forecast.price) %></td>
        <td><%= get_attribute(sales_forecast.budget, :name) %></td>
        <td><%= get_attribute(sales_forecast.certainty, :name) %></td>
        <td><%= number_with_delimiter(expected_value(sales_forecast.price, get_attribute(sales_forecast.certainty, :name))) %></td>
        <td><%= sales_forecast.reporting_date %></td>
        <td><%= sales_forecast.fixed_date %></td>
        <td><%= sales_forecast.order_date %></td>
        <td><%= sales_forecast.agent %></td>
        <td><%= sales_forecast.condition %></td>
        <td><%= sales_forecast.person_in_charge %></td>
        <td><%= sales_forecast.visible %></td>
        <td><%= link_to '詳細', sales_forecast %></td>
        <td><%= link_to '編集', edit_sales_forecast_path(sales_forecast) %></td>
        <td><%= link_to '削除', sales_forecast, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_sales_forecast_path %>
