<p id="notice"><%= notice %></p>

<p>
  <strong>Service center:</strong>
  <%= @sales_forecast.service_center %>
</p>

<p>
  <strong>Segment:</strong>
  <%= @sales_forecast.segment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sales_forecast.status %>
</p>

<p>
  <strong>Area:</strong>
  <%= @sales_forecast.area %>
</p>

<p>
  <strong>Company:</strong>
  <%= @sales_forecast.company %>
</p>

<p>
  <strong>Division:</strong>
  <%= @sales_forecast.division %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @sales_forecast.customer_name %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @sales_forecast.instrument %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sales_forecast.price %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @sales_forecast.budget %>
</p>

<p>
  <strong>Certainty:</strong>
  <%= @sales_forecast.certainty %>
</p>

<p>
  <strong>Reporting date:</strong>
  <%= @sales_forecast.reporting_date %>
</p>

<p>
  <strong>Fixed date:</strong>
  <%= @sales_forecast.fixed_date %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @sales_forecast.order_date %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @sales_forecast.agent %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @sales_forecast.condition %>
</p>

<p>
  <strong>Person in charge:</strong>
  <%= @sales_forecast.person_in_charge %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @sales_forecast.visible %>
</p>

<%= link_to 'Edit', edit_sales_forecast_path(@sales_forecast) %> |
<%= link_to 'Back', sales_forecasts_path %>
