<p id="notice"><%= notice %></p>

<p>
  <strong>SC:</strong>
  <%= @sales_forecast.service_center %>
</p>

<p>
  <strong>客層:</strong>
  <%= @sales_forecast.segment %>
</p>

<p>
  <strong>状態:</strong>
  <%= @sales_forecast.status %>
</p>

<p>
  <strong>地域:</strong>
  <%= @sales_forecast.area %>
</p>

<p>
  <strong>顧客:</strong>
  <%= @sales_forecast.company %>
</p>

<p>
  <strong>部署:</strong>
  <%= @sales_forecast.division %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @sales_forecast.customer_name %>
</p>

<p>
  <strong>機種:</strong>
  <%= @sales_forecast.instrument %>
</p>

<p>
  <strong>金額:</strong>
  <%= @sales_forecast.price %>
</p>

<p>
  <strong>予算:</strong>
  <%= @sales_forecast.budget %>
</p>

<p>
  <strong>確度:</strong>
  <%= @sales_forecast.certainty %>
</p>

<p>
  <strong>申請時期:</strong>
  <%= @sales_forecast.reporting_date %>
</p>

<p>
  <strong>確定時期:</strong>
  <%= @sales_forecast.fixed_date %>
</p>

<p>
  <strong>発注時期:</strong>
  <%= @sales_forecast.order_date %>
</p>

<p>
  <strong>代理店:</strong>
  <%= @sales_forecast.agent %>
</p>

<p>
  <strong>状況:</strong>
  <%= @sales_forecast.condition %>
</p>

<p>
  <strong>担当:</strong>
  <%= @sales_forecast.person_in_charge %>
</p>

<p>
  <strong>表示:</strong>
  <%= @sales_forecast.visible %>
</p>

<%= link_to '編集', edit_sales_forecast_path(@sales_forecast) %> |
<%= link_to '戻る', sales_forecasts_path %>
