<script>
	$(document).ready(function()
	{
		$("#myTable").tablesorter();
	}
);
</script>

<h1>検索結果</h1>

<div class="forecast_summary">
	件数: <%= @sales_forecasts.size %>
	(
		<% forecast_statuses(@sales_forecasts).each do |status| %>
			<span class="data"><%= status[1] %>: <%= status[2] %></span>
		<% end %>
		|
		<% forecast_segments(@sales_forecasts).each do |segment| %>
			<span class="data"><%= segment[1] %>: <%= segment[2] %></span>
		<% end %>
	)
	<span class="data">総額:<%= number_with_delimiter(get_sum(@sales_forecasts,:price)) %></span>
	<span class="data">期待総額:<%= number_with_delimiter(get_expected_sum(@sales_forecasts)) %></span>
</div>
<div class="table-responsive">
<table id="myTable" class="table table-striped table-condensed table-bordered table-hover tablesorter">
  <thead>
    <tr>
      <% if $sc_switch %>
      <th>SC</th>
      <% end %>
      <th>客層</th>
      <th>状態</th>
      <th>地域</th>
      <th>顧客</th>
      <th>部署</th>
      <th>氏名</th>
      <th>機種</th>
      <th>金額</th>
      <th>予算</th>
      <th>確度</th>
      <th>期待額</th>
      <th>申請時期</th>
      <th>確定時期</th>
      <th>発注時期</th>
      <th>代理店</th>
      <th>状況</th>
      <th>担当</th>
      <th>表示</th>
      <th>更新日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_sales_forecasts.each do |sales_forecast| %>
      <tr>
      	<% if $sc_switch %>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= get_attribute(sales_forecast.service_center, :name) %></td>
        <% end %>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= get_attribute(sales_forecast.segment, :name) %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= get_attribute(sales_forecast.status, :name) %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= get_attribute(sales_forecast.area, :name) %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.company %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.division %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.customer_name %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.instrument %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= number_with_delimiter(sales_forecast.price) %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= get_attribute(sales_forecast.budget, :name) %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= get_attribute(sales_forecast.certainty, :name) %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= number_with_delimiter(expected_value(sales_forecast.price, get_attribute(sales_forecast.certainty, :name))) %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.reporting_date %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.fixed_date %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.order_date %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.agent %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><span data-toggle="tooltip" title="<%= sales_forecast.condition_text %>"><%= truncate(sales_forecast.condition_text, length: 20) %></span></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.person_in_charge %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= sales_forecast.visible %></td>
        <td style="color: <%= get_attribute(sales_forecast.status, :color) %>"><%= format_datetime(sales_forecast.updated_at, :date) %></td>
        <td><%= link_to '詳細', sales_forecast %></td>
        <td><%= link_to '編集', edit_sales_forecast_path(sales_forecast) %></td>
        <td><%= link_to '削除', sales_forecast, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<ul class="pagination pagination-sm">
	<%== pagination(@current_page, @num_of_pages, {action: :search, keywd: @keywd}) %>
</ul>

