<h1>地域一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>地域名</th>
      <% if $sc_switch %>
      <th>SC</th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <% if $sc_switch %>
        <td><%= area.service_centers.map{|service_center| service_center.name}*", " %></td>
        <% end %>
		<td>
			<%= link_to '詳細', area, class: :forecast_control %>
			<%= link_to '編集', edit_area_path(area), class: :forecast_control %>
			<%= link_to '削除', area, method: :delete, data: { confirm: '削除しますか?' }, class: :forecast_control %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_area_path %>
