<%= form_for(@certainty) do |f| %>
  <% if @certainty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certainty.errors.count, "error") %> prohibited this certainty from being saved:</h2>

      <ul>
      <% @certainty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.number_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
