<h1>確度一覧</h1>

<table>
  <thead>
    <tr>
      <th>確度</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certainties.each do |certainty| %>
      <tr>
        <td><%= certainty.name %></td>
        <td><%= link_to '詳細', certainty %></td>
        <td><%= link_to '編集', edit_certainty_path(certainty) %></td>
        <td><%= link_to '削除', certainty, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_certainty_path %>
