<h1>SC一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>SC</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service_centers.each do |service_center| %>
      <tr>
        <td><%= service_center.name %></td>
        <td>
        	<%= link_to '詳細', service_center, class: :forecast_control %>
        	<%= link_to '編集', edit_service_center_path(service_center), class: :forecast_control %>
        	<%= link_to '削除', service_center, method: :delete, data: { confirm: '削除しますか?' }, class: :forecast_control %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_service_center_path %>
